---
layout: Portfolio/PyQt5/page
title: "ポートフォリオ | PyQt5 | ドラッグアンドドロップ"
home: "/Portfolio/index.html"
---
<!-- 
<	&lt;
>	&gt;
'	&#39;
"	&quot;
&	&amp;
 -->

<div>
  <h2>PyQt5におけるドラッグアンドドロップ機能の実装テンプレート</h2>
  <h4>2019/10/10</h4>

  <a href="{{ '/Portfolio/PyQt5/Templates/DnD/icon.png' | relative_url}}">
    <img src="{{ '/Portfolio/PyQt5/Templates/DnD/icon.png' | relative_url}}" alt=""/>
  </a>

  <h3>概要</h3>
  <p>
    フォルダやファイルをドロップすることができるテンプレート
    
    再起を用いることでディレクトリの中も勝手に入れてくれる！ <br>
    (`pathlib`を使うと一発。`os`を使うと再起実装がいる) <br>
    `pathlib`を早く知りたかった！<br>
  </p>
  
  <a href="https://github.com/pto8913/pto8913/blob/master/Portfolio/PyQt5/Templates/DnD/DnD.py">ソースコード</a>
</div>