---
layout: Portfolio/PyQt5/page
title: "ポートフォリオ | PyQt5 | コピー"
home: "/Portfolio/PyQt5/index.html"
---
<!-- 
<	&lt;
>	&gt;
'	&#39;
"	&quot;
&	&amp;
 -->

<div>
  <h2>PyQt5におけるコピー機能の実装テンプレート</h2>
  <h4>2019/10/04</h4>

  <a href="{{ '/Portfolio/PyQt5/Templates/Clipboard/icon.png' | relative_url}}">
    <img src="{{ '/Portfolio/PyQt5/Templates/Clipboard/icon.png' | relative_url}}" alt=""/>
  </a>

  <h3>概要</h3>
  <p>
    `Enter here`に入力した内容を、`add`で左のリストに入れて、<br>
    それをCtrl+Cでコピー右にペーストするだけの簡単なテンプレート<br>

    これでコピーできる！<br>
    みそは`keyPressEvent`のとこ！<br>
    `QListWidget`じゃなくてもできるよ！<br>
  </p>

  <a href="https://github.com/pto8913/pto8913/blob/master/Portfolio/PyQt5/Template/Clipboard/Clipboard.py">ソースコード</a>
</div>