---
layout: Portfolio/PyQt5/page
title: "ポートフォリオ | PyQt5 | ディレクトリツリー"
home: "/Portfolio/PyQt5/index.html"
custom-header: true
---
<!-- 
<	&lt;
>	&gt;
'	&#39;
"	&quot;
&	&amp;
 -->

<div>
  <h2>PyQt5におけるディレクトリツリー機能の実装テンプレート</h2>
  <h4>2019/10/10</h4>

  <a href="{{ '/Portfolio/PyQt5/Templates/DirViewer/icon.png' | relative_url}}">
    <img src="{{ '/Portfolio/PyQt5/Templates/DirViewer/icon.png' | relative_url}}" alt=""/>
  </a>
  
  <h3>概要</h3>
  <p>
    ディレクトリを見る！<br>

    self.fileModel.setRootPath('')<br>
    の部分にRootのPathを設定すると特定のディレクトリだけ見られるようになる<br>
  </p>
  
  <a href="https://github.com/pto8913/pto8913/blob/master/Portfolio/PyQt5/Templates/DirViewer/DirViewer.py">ソースコード</a>
</div>