---
layout: Portfolio/Hoshimori/page
title: "ポートフォリオ | 星の守り人 | UI"
subject: "タイトルUI"
home: '/Portfolio/Hoshimori/index.html'
# images: # list
#  title : url
# or
# {title: title, url: "url"(relative), description:""}
---

<head>
  <style>
    .Portfolio_fixed_bg.home {
      background-image: url("{{ '/Hoshimori/Story/Images/Background_Star.png' | relative_url }}"), linear-gradient(rgba(10, 10, 10, 1), rgba(10, 10, 10, 1));
      background-attachment: initial;
      height: 600px;
      background-blend-mode: overlay;
    }
    .Portfolio_detail_container {
      margin: 25px;
      padding: 0px;
    }
    .Portfolio_logo {
      align-self: flex-end;
    }
  </style>
</head>
<div class="Portfolio_Hoshimori_main">
  <div class="Portfolio_Hoshimori_subject_container">
    <h2>
      {{ page.subject }}
    </h2>
  </div>
  <div class="Portfolio_Hoshimori_img_card_container">
    {% for row in page.images %}
      {% if row.description %}
        <div>
          <div class="Portfolio_Hoshimori_img_card">
            <img class="Portfolio_Hoshimori_img" src="{{ row.url | relative_url }}" alt="" />
            <p class="Portfolio_Hoshimori_img_card_name">
              {{ row.title }}
            </p>
          </div>
          <p>
            {{ row.description }}
          </p>
        </div>

      {% else %}
        <div class="Portfolio_Hoshimori_img_card">
          <img class="Portfolio_Hoshimori_img" src="{{ row[1] | relative_url }}" alt="" />
          <p class="Portfolio_Hoshimori_img_card_name">
            {{ row[0] }}
          </p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>