---
layout: Portfolio/Hoshimori/page
title: "ポートフォリオ | 星の守り人 | UI"
subject: "タイトルUI"
home: '/Portfolio/Hoshimori/index.html'
# images: # list
# - subject: subject-title
#   contents:
#     - title: title
#       url: "url"(relative)
#       img-type: [default:"none", "movie", "gd-movie", "image", "gd-image"] #if none only description.
#       description:
#         - text: ""
#           type: [default:"li", "p", "h3", "h4", "h5"]
# - subject: subject-title
#   contents:
#     - title: title
#         ~~~
#         ~~~
#
#
######################################################################
####                                                              ####
#### if the subject == type contents will be displayed.           ####
#### else if the type is none, contents will be displayed always. ####
####                                                              ####
######################################################################
---

<div class="Portfolio_Hoshimori_main">
  {% for row in page.images %}
    <div class="Portfolio_Hoshimori_subject_container">
      <h2>
        {{ row.subject }}
      </h2>
    </div>
    <div class="Portfolio_Hoshimori_img_cards_container">
      {% for content-row in row.contents %}
        <div class="Portfolio_Hoshimori_img_card_container">
          {% if content-row.img-type == "image" or content-row.img-type == "gd-image" %}
            <a href="{{ content-row.url | relative_url }}" target="_blank" rel="noopener noreferrer">
              <div class="Portfolio_Hoshimori_img_card">
                {% if content-row.img-type == "image" %}
                  <img class="Portfolio_Hoshimori_img" src="{{ content-row.url | relative_url }}" alt="" />
                {% elsif content-row.img-type == "gd-image" %}
                  <iframe class="Portfolio_Hoshimori_img" allowfullscreen src="{{ content-row.url }}/preview">
                    {{ content-row.title }}
                  </iframe>
                {% endif %}
                <p class="Portfolio_Hoshimori_img_card_name">
                  {{ content-row.title }}
                </p>
              </div>
            </a>
          {% elsif content-row.img-type == "movie" or content-row.img-type == "gd-movie" %}
            <div class="Portfolio_Hoshimori_img_card">
              {% if content-row.img-type == "movie" %}
                <iframe class="Portfolio_Hoshimori_img" src="{{ content-row.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                  {{ content-row.title }}
                </iframe>
              {% elsif content-row.img-type == "gd-movie" %}
                <iframe class="Portfolio_Hoshimori_img" src="{{ content-row.url }}/preview" allowfullscreen>
                  {{ content-row.title }}
                </iframe>
              {% endif %}
              <p class="Portfolio_Hoshimori_img_card_name">
                {{ content-row.title }}
              </p>
            </div>
          {% endif %}
          <div class="Portfolio_Hoshimori_img_card_description_container">
            {% for description in content-row.description %}
              <{{ description.type }}>
                {{ description.text }}
              </{{ description.type }}>
              {% if description.type == "p" %}
                <p>
                  {{ description.text }}
                </p>
              {% elsif description.type == "h3" %}
                <h3>
                  {{ description.text }}
                </h3>
              {% else %}
                <li>
                  {{ description.text }}
                </li>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  {{ content }}
</div>
<!-- 
<img src="https://drive.google.com/uc?export=view&id={{ row.url }} alt="" />

<iframe src="https://drive.google.com/file/d/{{ row.url }}/preview">
-->