---
layout: Portfolio/Hoshimori/page
title: "ポートフォリオ | 星の守り人 | UI"
subject: "タイトルUI"
home: '/Portfolio/Hoshimori/index.html'
# images: # list
# - subject: subject-title
#   contents:
#     - title: title
#       url: "url"(relative)
#       description:[]
#       desc-type: [default: "li", "p"]
#       img-type: subject or none
# - subject: subject-title
#   contents:
#     - title: title
#         ~~~
#         ~~~
#
#
######################################################################
####                                                              ####
#### if the subject == type contents will be displayed.           ####
#### else if the type is none, contents will be displayed always. ####
####                                                              ####
######################################################################
---

<div class="Portfolio_Hoshimori_main">
  {% for row in page.images %}
    <div class="Portfolio_Hoshimori_subject_container">
      <h2>
        {{ row.subject }}
      </h2>
    </div>
    <div class="Portfolio_Hoshimori_img_cards_container">
      {% for content in row.contents %}
        {% if content.img-type == "image" or content.img-type == "gd-image" %}
          <div class="Portfolio_Hoshimori_img_card_container">
            <a href="{{ content.url | relative_url }}" target="_blank" rel="noopener noreferrer">
              <div class="Portfolio_Hoshimori_img_card">
                {% if content.img-type == "image" %}
                  <img class="Portfolio_Hoshimori_img" src="{{ content.url | relative_url }}" alt="" />
                {% elsif content.img-type == "gd-image" %}
                  <iframe class="Portfolio_Hoshimori_img" allowfullscreen src="{{ content.url }}/preview">
                    {{ content.title }}
                  </iframe>
                {% endif %}
                <p class="Portfolio_Hoshimori_img_card_name">
                  {{ content.title }}
                </p>
              </div>
            </a>
          </div>
        {% elsif content.img-type == "movie" or content.img-type == "gd-movie" %}
          <div class="Portfolio_Hoshimori_img_card_container">
            <div class="Portfolio_Hoshimori_img_card">
              {% if content.img-type == "movie" %}
                <iframe class="Portfolio_Hoshimori_img" src="{{ content.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                  {{ content.title }}
                </iframe>
              {% elsif content.img-type == "gd-movie" %}
                <iframe class="Portfolio_Hoshimori_img" allowfullscreen src="{{ content.url }}/preview">
                  {{ content.title }}
                </iframe>
              {% endif %}
              <p class="Portfolio_Hoshimori_img_card_name">
                {{ content.title }}
              </p>
            </div>
          </div>
        {% endif %}
        <div class="Portfolio_Hoshimori_img_card_description_container">
          {% for description in content.description %}
            {% if content.desc-type == "p" %}
              <p>
                {{ description }}
              </p>
            {% else %}
              <li>
                {{ description }}
              </li>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
<!-- 
<img src="https://drive.google.com/uc?export=view&id={{ row.url }} alt="" />

<iframe src="https://drive.google.com/file/d/{{ row.url }}/preview">
-->