---
layout: Portfolio/Hoshimori/page-Image
title: "ポートフォリオ | 星の守り人 | UI"
subject: "タイトルUI"
home: '/Portfolio/Hoshimori/index.html'
# images: # list
#   - title: title
#     url: "url"(relative)
#     description:[]
#     desc-type: [default: "li", "p"]
#     img-type: [default: "gdrive", "image", "movie"]
---

<head>
  <style>
    .Portfolio_detail_container {
      margin: 25px;
      padding: 0px;
    }
    .Portfolio_logo {
      align-self: flex-end;
    }
    .Portfolio_Hoshimori_img_cards_container {
      display: grid;
    }
    .Portfolio_Hoshimori_img_card_container {
      height: auto;
      margin: 5px 0px;
      width: 100%;
    }
  </style>
</head>