---
title: "ホーム"
layout: home-simple
---

<div>
  <!-- Begin News -->
  {% include carousel-banner.html links=site.News title="新着" %}
  <!-- End News -->
  <!-- Begin Articles -->
  <div class="flex">
    <!-- Begin Main -->
    <div>
      {% include indices.html items = site.index-UnrealEngine %}
      {% include indices.html items = site.index-DirectX %}
      {% include indices.html items = site.index-Unity %}
      {% include indices.html items = site.index-Java %}
      {% include indices.html items = site.index-PyQt5 %}
      {% include indices.html items = site.index-KyoPro %}
    </div>
    <!-- End Main -->
    <!-- Begin SideMenu -->
    <div>
      <div id="auto-site-map"></div>
      {% include category.html lists=site.nav-categories %}
    </div>
    <!-- End SideMenu -->
  </div>
  <!-- End Articles -->
</div>
