---
layout: default
title: "ホーム"
---

<head>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <link rel="stylesheet" href="{{ '/assets/css/automap.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/Portfolio/assets/css/portfolio.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/scroll_animation.css' | relative_url }}">
  <script src="{{ '/assets/js/hatenablog.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/scroll_animation.js' | relative_url }}"></script>
  <style>
    .bg {
      min-height: 600px;
      width: 100%;
      align-items: center;
      text-align: center;
    }
  </style>
</head>

<div>
  {% include carousel-banner.html links=site.News title="新着" %}
  <div class="flex">
    <div class="bg">
      {% for data in site.idx-Portfolio %}
        <h2 class="Portfolio_subject">
          {{ data.subject }}
        </h2>
        <div class="Portfolio_grid_3x fade_box">
          {% for row in data.contents %}
            {% if row.img %}
              <div class="img_card_container">
                <a href="{{ row.url | relative_url }}">
                  <img src="{{ row.img | relative_url }}" class="img_card" alt="" />
                  <p class="img_card_title">{{ row.title }}</p>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div>
      <div id="auto-site-map"></div>
      {% include category.html lists=site.nav-categories %}
    </div>
  </div>
</div>

