---
layout: default
title: "ホーム"
---

<head>
  <link rel="stylesheet" href="{{ '/assets/css/automap.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/Portfolio/assets/css/portfolio.css' | relative_url }}">
</head>
<div>
  {% include carousel-banner.html links=site.idx-Portfolio-Game title="最新のゲーム" %}
  <div class="flex">
    {% include Portfolio/home.html %}
    <div id="auto-site-map"></div>
  </div>
</div>
<!-- 
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %} -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<srcipt type="text/javascript" src="{{ '/assets/js/hatenablog.js' | relative_url}}"></srcipt>