.bg_Home {
    background-image: url("../Images/T_Title.png");
    width: 100%;

}

#Home{
    background: url("../Images/T_Title.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.inner {
    min-height: 600px;
    position: relative;
}

.copy{
    position:absolute; 
    top:50%; 
    height:10em; 
    margin-top:-5em; 
    width:100%;
}

.bg_Home-text {
    border: solid 0.1px;
    display: inline-block;
    padding: 0px 0px;
    background-color: rgba(0,0,0,0);
}