<link rel="stylesheet" href="{{ '/assets/css/carousel-banner.css' | relative_url }}">

{% assign links = include.links %}
{% assign lenLinks = links.size %}
{% assign currentIdx = 1 %}

<div class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    {% for link in links %}
      <li id="carousel__slide{{ currentIdx }}" tabindex="0" class="carousel__slide">
        <a href="{{ link[1] | relative_url }}.html">
          <div class="carousel__snapper">
            {% assign prevIdx = currentIdx | minus:1 %}
            {% if prevIdx <= 0 %}
              {% assign prevIdx = lenLinks %}
            {% endif %}
            <a href="#carousel__slide{{ prevIdx }}" class="carousel__prev">Go to Slide{{ prevIdx }}</a>

              <div class="carousel__image_container">
                {% if include.title %}
                  <p class="carousel__title">{{ include.title }} : {{ link[0] }}</p>
                {% endif %}
                  <img src="{{ link[1] | relative_url }}.png" class="carousel__image" alt="" />
              </div>

            {% assign nextIdx = currentIdx | plus:1 %}
            {% if nextIdx > lenLinks %}
              {% assign nextIdx = 1 %}
            {% endif %}
            <a href="#carousel__slide{{ nextIdx }}" class="carousel__next">Go to Slide{{ nextIdx }}</a>
          </div>
        </a>
      </li>
      {% assign currentIdx = currentIdx | plus:1 %}
    {% endfor %}
  </ol>
  {% assign currentIdx = 1 %}
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      {% for link in links %}
        <li class="carousel__navigation-item">
          <a href="#carousel__slide{{ currentIdx }}" class="carousel__navigation-button">go to slide{{ currentIdx }}</a>
        </li>
        {% assign currentIdx = currentIdx | plus:1 %}
      {% endfor %}
    </ol>
  </aside>
</div>
<!-- 
<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide1" tabindex="0" class="carousel__slide">
      <div class="carousel__snapper">
        <a href="#carousel__slide4" class="carousel__prev">Go to last slide</a>
        <img src="{{ '/assets/images/pto8913.png' | relative_url }}" alt="" />
        <a href="#carousel__slide2" class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2" tabindex="0" class="carousel__slide">
      <div class="carousel__snapper">
        <a href="#carousel__slide1" class="carousel__prev">Go to last slide</a>
        <img src="{{ '/assets/images/gmail.png' | relative_url }}" alt="" />
        <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide3" tabindex="0" class="carousel__slide">
      <div class="carousel__snapper">
        <a href="#carousel__slide2" class="carousel__prev">Go to last slide</a>
        <img src="{{ '/assets/images/github.png' | relative_url }}" alt="" />
        <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide4" tabindex="0" class="carousel__slide">
      <div class="carousel__snapper">
        <a href="#carousel__slide3" class="carousel__prev">Go to last slide</a>
        <img src="{{ '/assets/images/youtube.png' | relative_url }}" alt="" />
        <a href="#carousel__slide1" class="carousel__next">Go to next slide</a>
      </div>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1" class="carousel__navigation-button">Go to slide1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2" class="carousel__navigation-button">Go to slide2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3" class="carousel__navigation-button">Go to slide3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4" class="carousel__navigation-button">Go to slide4</a>
      </li>
    </ol>
  </aside>
</section> -->