{% comment %} 
  <!-- <p class="carousel-p">使用したライブラリ：<a href="https://kenwheeler.github.io/slick/" target="_blank">https://kenwheeler.github.io/slick/</a></p> -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endcomment %}
<div class="carousel-div">
  <ul class="slider">
    {% for link in include.links %}
      {% if include.current %}
        {% if link[0] != include.current %}
          <li class="carousel-li">
            <a class="carousel-a" href="{{ link[1] | relative_url }}.html">
              <div class="carousel-div-selectable">
                <img class="carousel-img" src="{{ link[1] | relative_url }}.png" alt="">
                <p class="carousel-p">{{ link[0] }}</p>
              </div>
            </a>
          </li>
        {% else %}
          <li class="carousel-li">
            <a class="carousel-a" href="{{ link[1] | relative_url }}.html">
              <div class="carousel-div-select">
                <img class="carousel-img" src="{{ link[1] | relative_url }}.png" alt="">
                <p class="carousel-p-select">{{ link[0] }}</p>
              </div>
            </a>
          </li>
        {% endif %}
      {% else %}
        <li class="carousel-li">
          <a class="carousel-a" href="{{ link[1] | relative_url }}.html">
            <div class="carousel-div-selectable">
              <img class="carousel-img" src="{{ link[1] | relative_url }}.png" alt="">
              <p class="carousel-p">{{ link[0] }}</p>
            </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ '/assets/js/carousel_character.js' | relative_url }}"></script> 

<link rel="stylesheet" href="{{ '/assets/css/carousel_character.css' | relative_url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
