{% assign links = include.links %}
<div class="carousel__container">
  {% for link in links %}
    <div class="carousel__slide">
      <div class="carousel__slide-content">
        <a href="{{ link[1] | relative_url }}.html">
          <img src="{{ link[1] | relative_url }}.png" alt="" />
          {% if include.title %}
            <div class="carousel__slide-caption">
              <div class="carousel__title">
                {{ include.title }} : {{ link[0] }}    
              </div>
            </div>
          {% endif %}
        </a>
      </div>
    </div>
  {% endfor %}
</div>