{% assign __recursive=include.recursive | default: false %}
{% if __recursive == false %}
  <style>
    .category_ul {
      padding: 0;
      margin: 10px;
    }
  </style>
{% endif %}
{% assign __categories=include.lists %}
<ul class="category_ul">
  {% for category in __categories %}
    {% if category.title %}
      {% assign subject_name = category.title %}
      {% assign subject_contents = category.contents %}

      {% if category.url %}
        <li>{{ subject_name }}</li>
      {% else %}
        <button type="button" class="collapse">
          {% if category.url %}
            <a href="{{ category.url | relative_url }}">{{ subject_name }}</a>
          {% else %}
            {{ subject_name }}
          {% endif %}
        </button>
        <li class="collapse_content">
          {% include category.html lists=category.contents %}
        </li>
      {% endif %}
    {% else %}
      {% assign subject_name = category[0] %}
      {% assign subject_contents = __categories[subject_name] %}

      <button type="button" class="collapse">{{ subject_name }}</button>
      {% for subject in subject_contents.contents %}
        <li class="collapse_content">
          {% include category.html lists=subject_contents.contents %}
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
