{% assign subjects=include.lists %}
<ul>
  {% for subject in subjects %}
    <button type="button" class="collapse">
      {% if subject.title %}
        {% if subject.url %}
          <a href="{ subject.url | relative_url }">{{ subject.title }}</a>
        {% else %}
          <p>{{ subject.title }}</p>
        {% endif %}
      {% else %}
        {% if subject.url %}
          <a href="{ subject.url | relative_url }">{{ subject[0] }}</a>
        {% else %}
          <p>{{ subject[0] }}</p>
        {% endif %}
      {% endif %}
    </button>
    subject : {{ subject }}<br>
    contents : {{ subject.contents }}<br>
    {% for con in subject.contents %}
      sub.contents.child : {{ con }}<br>
      <li class="collapse_content">
        {% include category.html lists=con.contents %}
      </li>
    {% endfor %}
  {% endfor %}
</ul>
