<ul class="category_ul">
  {% for category in include.lists %}
    {% assign subject_name = category.title %}
    {% assign subject_contents = category.contents %}

    {% if subject_contents %}
      <button type="button" class="collapse category_button">
    {% endif %}
    {% if category.url %}
      {% if category.type == "absolute" %}
        <li><a href="{{ category.url }}">{{ subject_name }}</a></li>
      {% else %}
      <li><a href="{{ category.url | relative_url }}">{{ subject_name }}</a></li>
      {% endif %}
    {% else %}
      <li>{{ subject_name }}</li>
    {% endif %}
    {% if subject_contents %}
      </button>
      <li class="collapse_content">
        {% include category-recursive.html lists=subject_contents %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
