<ul class="category_ul">
  {% for category in include.lists %}
    {% assign subject_name = category.title %}
    {% assign subject_contents = category.contents %}

    {% if category.type %}
      {% if category.type == "absolute" %}
        <li><a href="{{ category.url }}">{{ subject_name }}</a></li>
      {% endif %}
    {% else %}
      <button type="button" class="collapse category_button">
        {% if category.url %}
          <a href="{{ category.url | relative_url }}">{{ subject_name }}</a>
        {% else %}
          {{ subject_name }}
        {% endif %}
      </button>
    {% endif %}
      {% if subject_contents %}
      <li class="collapse_content">
        {% include category-recursive.html lists=subject_contents %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
