<head>
  <link rel="stylesheet" href="{{ '/assets/css/navigation.css' | relative_url }}">
  <style>
    .center {
      text-align: center;
      align-items: center;
    }

    .nav_ul.center {
      justify-content: center;
      padding: 0;
      margin: 0;
    }

    .nav_li {
      margin: 0;
    }

    .nav_a {
      padding: 0;
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }

  </style>
</head>
<footer class="footer">
  <div class="center">
    <ul class="nav_ul center">
      {% for nav in include.navigation %}
        {% if nav.icon %}
          <li class="nav_li">
            <a class="nav_a" href="{{ nav.url }}" aria-label="{{ nav.title }}">
              <img class="logo" src="{{ nav.icon | relative_url}}" alt="" />
            </a>
          </li>
        {% else %}
          {% if nav.url %}
            <li class="nav_li">
              <a class="nav_a" href="{{ nav.url }}" aria-label="{{ nav.title }}">
                {{ nav.title }}
              </a>
            </li>
          {% else %}
            {{ nav.title }}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <p class="center">
      <a href="mailto:hoshinomoribito.jp@gmail.com">お問い合わせ</a><br>
      Copyright © 2020-2023 pto8913. All Right Reserved.<br>
    </p>
  </div>
</footer>