<style>
  .index_ul {
    margin: 0
  }
  .index_li {
    list-style-type: disc
  }
</style>
{% assign contents = include.lists %}
<button type="button" class="collapse">
</button>
<ul class="index_ul collapse_content">
  {% for con in contents %}
    <li class="index_li">
      {% if con.url %}
        <a href="{{ con.url | relative_url }}">{{ con.title }}</a>
      {% else %}
        {{ con.title }}
        {% if con.contents %}
          {% include index_list.html lists=con.contents %}
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>