{% if include.__recursive == "" %}
  <style>
    .index_ul {
      margin: 0
    }
    .index_li {
      list-style-type: disc
    }
  </style>
{% endif %}
{% assign contents = include.lists %}
<ul class="index_ul">
  {% for con in contents %}
    <li class="index_li">
      {% if con.url %}
        <a href="{{ con.url | relative_url }}">{{ con.title }}</a>
      {% else %}
        {{ con.title }}
        {% if con.contents %}
          {% include index_list.html lists=con.contents __recursive="true" %}
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>