{% comment %} 
  ------- include -------

  @add-subject: String : additional subject.
  @collapse: bool : if true collapsable this element.
  @items:
    - subject: "game"
      contents:
        - title: "hoshimori"
          img: "icon.png"
          url: "index.html"
        ~~~~
    - subject: "plugin"
      contents:
        - title: "inventorysystem"
          img: "icon.png"
          url: "index.html"
        ~~~~
{% endcomment %}

<!-- Begin Articles -->
{% if include.collapse %}
  <div class="bg collapse">
{% else %}
  <div class="bg">
{% endif %}
  {% if include.add-subject %}
    <h1 class="Portfolio_subject">
      {{ include.add-subject }}
    </h1>
  {% endif %}
  {% for data in include.items %}
    {% if data.contents %}
      <h2 class="Portfolio_subject h2">
        {{ data.title }}
      </h2>
      <div class="Portfolio_grid_3x">
        {% for row in data.contents %}
          <div class="img_card_container fade_box">
            {% if row.type %}
              {% if row.type == "absolute" %}
                <a href="{{ row.url }}">
              {% endif %}
            {% else %}
              <a href="{{ row.url | relative_url }}">
            {% endif %}
              {% if row.img %}
                <img src="{{ row.img | relative_url }}" class="img_card" alt="" />
              {% endif %}
              <p class="img_card_title">{{ row.title }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
<!-- End Articles -->