<!-- <nav>
{%- for item in include.menu -%}
  {%- assign node = site.pages | where: "name", item.file | first -%}
  {%- assign url = item.url | default: node.url -%}
  {%- assign title = item.title | default: node.title -%}
  
  <a href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
    {%- if item.icon -%}<svg aria-label="{{ title }}" class="icon"><use xlink:href="{{ '/assets/fontawesome/icons.svg' | relative_url }}#{{ item.icon }}"></use></svg>{%- else -%}{{ title }}{%- endif -%}
  </a>
{%- endfor -%}
</nav> -->
<!-- {% comment %} Create a navigation pane {% endcomment %}
{%- if page_paths -%}
  <nav>
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          {%- if my_page.siteNav -%}
            <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{- my_page.title | escape -}}</a></li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
        </ul>
  </nav>
{%- endif -%} -->
<nav class="g-nav">
  <ul>
    {% for nav in site.navigation %}
      {% if nav[1].first %}
        <li class = "dropdown">
          <a class="dropdown-toggle">{{ nav[0] }}</a>
          <ul>
            {% for sub_page in nav[i] %}
            <li>
              <a href="{{ sub_page[1] | relative_url }}" aria-label="{{ sub_page[0] }}">
                {{ sub_page[0] }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li>
          <a href="{{ nav[1] | relative_url }}" aria-label="{{ nav[0] }}">
            {{ nav[0] }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<link rel="stylesheet" type="text/css" href="https://pto8913.github.io/pto8913/_sass/layout.sass">