{% assign only_index = include.only_index %}
<div style="margin-right: 10px">
  {% assign UnrealEngine_Contents = site.NavCategories[0].contents %}
  {% assign DirectX_Contents = site.NavCategories[1].contents %}
  {% assign Unity_Contents = site.NavCategories[2].contents %}
  {% assign Java_Contents = site.NavCategories[3].contents %}
  {% assign KyoPro_Contents = site.NavCategories[4].contents %}
  {% assign PyQt5_Contents = site.NavCategories[5].contents %}
  {% if only_index %}
    {% if only_index == 0 %}
      {% include indices.html add-subject = "UnrealEngine" items = UnrealEngine_Contents %}
    {% elsif only_index == 1 %}
      {% include indices.html add-subject = "DirectX" items = DirectX_Contents %}
    {% elsif only_index == 2 %}
      {% include indices.html add-subject = "Unity" items = Unity_Contents %}
    {% elsif only_index == 3 %}
      {% include indices.html add-subject = "Java" items = Java_Contents %}
    {% elsif only_index == 4 %}
      {% include indices.html add-subject = "KyoPro" items = KyoPro_Contents %}
    {% elsif only_index == 5 %}
      {% include indices.html add-subject = "PyQt5" items = PyQt5_Contents %}
    {% endif %}
  {% else %}
    {% include indices.html add-subject = "UnrealEngine" items = UnrealEngine_Contents %}
    {% include indices.html add-subject = "DirectX" items = DirectX_Contents %}
    {% include indices.html add-subject = "Unity" items = Unity_Contents %}
    {% include indices.html add-subject = "Java" items = Java_Contents %}
    {% include indices.html add-subject = "KyoPro" items = KyoPro_Contents %}
    {% include indices.html add-subject = "PyQt5" items = PyQt5_Contents %}
  {% endif %}
</div>