<div class="Hoshimori_character_card_container">
  {% if include.img-extension %}
    {% assign extension = include.img-extension %}
  {% else %}
    {% assign extension = "png" %}
  {% endif %}

  {% if not include.img-R %}
    {% if include.img-index %}
      <img class="Hoshimori_character_card_img" src="{{ include.img-index | relative_url }}.{{ extension }}" alt="" />
    {% else %}
      <img class="Hoshimori_character_card_img" src="{{ site.hoshimori-character[page.background] | relative_url }}.{{ extension }}" alt="" />
    {% endif %}
    <div class="Hoshimori_character_card_detail_container">
      <h2 class="Hoshimori_character_card_name">{{ include.name }}</h2>
      <p class="Hoshimori_character_card_description_text">────────────────────────</p>
      <div class="Hoshimori_character_card_description_text_container">
        <p class="Hoshimori_character_card_description_text">
          {{ include.description }}
        </p>
      </div>
    </div>
  {% else %}
    <div class="Hoshimori_character_card_detail_container">
      <h2 class="Hoshimori_character_card_name">{{ include.name }}</h2>
      <p class="Hoshimori_character_card_description_text">────────────────────────</p>
      <div class="Hoshimori_character_card_description_text_container">
        <p class="Hoshimori_character_card_description_text">
          {{ include.description }}
        </p>
      </div>
    </div>
    {% if include.img-index %}
      <img class="Hoshimori_character_card_img" src="{{ include.img-index | relative_url }}.{{ extension }}" alt="" />
    {% else %}
      <img class="Hoshimori_character_card_img" src="{{ site.hoshimori-character[page.background] | relative_url }}.{{ extension }}" alt="" />
    {% endif %}
  {% endif %}
</div>
<head>
  <link rel="stylesheet" href=" {{ '/Hoshimori/assets/css/Hoshimori.css' | relative_url }}">
</head>