{% comment %}
<!-- 
  ------- include parameters -------
  @name: string : Hoshimori-character-card-description.html title.
  @description: string : simple text.
  @descriptions: like these.
    description:
    - text: "hoge"
      type: [default:li, p, h3, h4, h5]
    - text: "huga"
      type: h3
  @url: string : url to image. 
  @img-type: string : url image type. "image" "gd-image" "movie" "gd-movie"
  @extension: string : e.g. "png", "jpg". allow null.
  @img-R: bool : switch the image position to left or right. If true image can show right side. 
-->
{% endcomment %}

{% if include.img-extension %}
  {% assign extension-type = include.extension %}
{% else %}
  {% assign extension-type = "png" %}
{% endif %}
{% if include.img-R %}
  {%
    include Hoshimori/Hoshimori-character-card-description.html
      name = include.name
      description = include.description
      descriptions = include.descriptions
  %}
  {%
    include Hoshimori/Hoshimori-character-card-img.html
      url = include.url
      img-type = include.img-type
      extension = extension-type
  %}
{% else %}
  {%
    include Hoshimori/Hoshimori-character-card-img.html
      url = include.url
      img-type = include.img-type
      extension = extension-type
  %}
  {%
    include Hoshimori/Hoshimori-character-card-description.html
      name = include.name
      description = include.description
      descriptions = include.descriptions
  %}
{% endif %}