{% comment %}
<!--
  ------- include parameters -------
  @url: string : url to image.
  @img-type: string : url image type. "image" "gd-image" "movie" "gd-movie"
  @extension: string : e.g. "png", "jpg". allow null.
-->
{% endcomment %}

{% assign URL = include.url %}
{% assign IMAGETYPE = include.img-type %}
{% assign EXTENSION = include.extension %}

{% if IMAGETYPE == "image" or IMAGETYPE == "gd-image" %}
  {% if IMAGETYPE == "image" %}
    <a href="{{ URL | relative_url }}" target="_blank" rel="noopener noreferrer">
      <div class="Hoshimori_img_card">
        {% if URL %}
          <img class="Hoshimori_character_card_img" src="{{ URL | relative_url }}.{{ EXTENSION }}" alt="" />
        {% else %}
          <img class="Hoshimori_character_card_img" src="{{ site.hoshimori-character[page.background] | relative_url }}.{{ EXTENSION }}" alt="" />
        {% endif %}
      </div>
    </a>
  {% elsif IMAGETYPE == "gd-image" %}
    <a href="{{ URL }}" target="_blank" rel="noopener noreferrer">
      <div class="Hoshimori_img_card">
        <iframe class="Hoshimori_character_card_img" allowfullscreen src="{{ URL }}/preview">
        </iframe>
      </div>
    </a>
  {% endif %}
{% elsif IMAGETYPE == "movie" or IMAGETYPE == "gd-movie" %}
  <div class="Hoshimori_img_card">
    {% if IMAGETYPE == "movie" %}
      <iframe class="Hoshimori_character_card_img" src="{{ URL }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
      </iframe>
    {% elsif IMAGETYPE == "gd-movie" %}
      <iframe class="Hoshimori_character_card_img" src="{{ URL }}/preview" allowfullscreen>
      </iframe>
    {% endif %}
  </div>
{% else %}
  <a href="{{ URL | relative_url }}" target="_blank" rel="noopener noreferrer">
    <div class="Hoshimori_img_card">
      {% if URL %}
        <img class="Hoshimori_character_card_img" src="{{ URL | relative_url }}.{{ EXTENSION }}" alt="" />
      {% else %}
        <img class="Hoshimori_character_card_img" src="{{ site.hoshimori-character[page.background] | relative_url }}.{{ EXTENSION }}" alt="" />
      {% endif %}
    </div>
  </a>
{% endif %}

