{% comment %}
<!--
  ------- include parameters -------
  @name: string : title of description
  @description: string : simple text.
  @descriptions: like these.
    description:
    - text: "hoge"
      type: [default:li, p, h3, h4, h5]
    - text: "huga"
      type: h3
    - text: "link example"
      type: a
      url: "https://~~~"
  NOTE: If descriptions is exists, description is ignored.
-->
{% endcomment %}

{% if include.descriptions or include.description or include.name %}
  <div class="Hoshimori_character_card_description_container" id="character_card_description">
    {% if include.name %}
      <h2 class="Hoshimori_character_card_name">{{ include.name }}</h2>
    {% endif %}
    {% if include.descriptions or include.description %}
      <p class="Hoshimori_character_card_description_text">
        ────────────────────────
      </p>
    {% endif %}
    {% if include.descriptions %}
      <div class="Hoshimori_character_card_description_text_container">
        {% for description in include.descriptions %}
          {% if description.text %}
            {% if description.type %}
              {% if description.type == a %}
                <a href="{{ description.url }}">
                  {{ description.text }}
                </a>
              {% else %}
                <{{ description.type }}>
                  {{ description.text }}
                </{{ description.type }}>
              {% endif %}
            {% else %}
              <li class="Hoshimori_character_card_description_text">
                {{ description.text }}
              </li>
            {% endif %}
          {% else %}
            <li>
              {{ description }}
            </li>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <div class="Hoshimori_character_card_description_text_container">
        <p class="Hoshimori_character_card_description_text">
          {{ include.description }}
        </p>
      </div>
    {% endif %}
  </div>
{% endif %}