$font-size: calc(0.8rem + 0.2vw) !default
$font-weight: 400 !default
$font-family: "PT Sans", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif !default
$heading-weight: 600 !default
$line-height: 1.6 !default
$link-color: rgb(102, 136, 255) !default
$dark: rgb(33, 34, 40) !default
$light: rgb(255, 255, 255) !default

@function reduce ($percent)
  @return rgba(mix($dark, $light), $percent / 100)
