body
  display: flex
  flex-direction: column

article
  flex-grow: 1

body > header, body > footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between

body > header, body > article, body > footer
  padding: 1.5em

article header
  margin-bottom: 1.5em

article header h1
  font-size: 1.7em
  margin: 0 0 .1em

.header
.footer
  background-color: rgb(0, 0, 0)

.header.flex
  display: flex

.footer
  display: flex
  align-items: center
  justify-content: center
  padding: 10px

.logo
  width: 32px
  height: 32px
  margin: 0
  padding: 0