body
  display: flex
  flex-direction: column

article
  flex-grow: 1

body > header, body > footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between

body > header, body > article, body > footer
  padding: 1.5em

article header
  margin-bottom: 1.5em

article header h1
  font-size: 1.7em
  margin: 0 0 .1em


.g-nav-ul
  display: flex

.g-nav-li
  list-style: none

.g-nav-a 
  display: block
  text-decoration: none
  color: white
  margin-right: 20px
  &:hover
    color: rgb(252, 245, 228)

.g-nav
  padding-top: 5px
  box-sizing: border-box  
  position: fixed
  top: 0
  left: 0
