---
layout: default
home: "/Portfolio/index.html"
toc:
  - subject: "ツール"
    contents:
      - title: "Calculator"
        url: "PyQt5/Tools/Calculator/Calculator.html"
      - title: "Clipboard"
        url: "PyQt5/Tools/Clipboard/Clipboard.html"
      - title: "DirViewr"
        url: "PyQt5/Tools/DirViewr/DirViewr.html"
      - title: "img2pdf"
        url: "PyQt5/Tools/img2pdf/img2pdf.html"
      - title: "ScreenCapture"
        url: "PyQt5/Tools/ScreenCapture/ScreenCapture.html"
      - title: "SQLiteViewer"
        url: "PyQt5/Tools/SQLiteViewer/SQLiteViewer.html"
      - title: "SQLiteViewerDetails"
        url: "PyQt5/Tools/SQLiteViewerDetails/SQLiteViewerDetails.html"
      - title: "TerrainViewer"
        url: "PyQt5/Tools/TerrainViewer/TerrainViewer.html"
      - title: "Timer"
        url: "PyQt5/Tools/Timer/Timer.html"

  - subject: "テンプレート"
    contents:
      - title: "DnD"
        url: "/PyQt5/Template/DnD/DnD.html"
      - title: "keyPressMulti"
        url: "/PyQt5/Template/keyPressMulti/keyPressMulti.html"
      - title: "Thread"
        url: "/PyQt5/Template/Thread/Thread.html"
---

<div>
  {% for data in page.toc %}
    <h2 class="KyoPro_subject">
      {{ data.subject }}
    </h2>
    <ul>
      {% for row in data.contents %}
        <li>
          <a href="{{ row.url | relative_url }}">
            {{ row.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>