---
---

@import index

.auto-map
  padding: 0
  margin: 10px

.auto-map-subject
  margin: 5px
  padding: 0px

.auto-map-url
  display: flex

.auto-map-post
  padding: 10px
  background-color: $frdark

.auto-map-title
  margin: 0px
