---
---

#carousel > 
	.slider
		width: 94%
		margin: auto
		padding: 5px
		background-color: #dedede43

	.slider img
		margin: auto

	.slider .slick-slide
		margin: 0 10px

	.slick-prev,
	.slick-next
		position: absolute
		top: 42%
		cursor: pointer
		outline: none
		border-top: 2px solid #666
		border-right: 2px solid #666
		height: 15px
		width: 15px

	.slick-prev
		left: -1.5%
		transform: rotate(-135deg)

	.slick-next
		right: -1.5%
		transform: rotate(45deg)

	.slick-dots
		text-align: center
		margin-top: 2px

	.slick-dots li
		display: inline-block
		margin-right: 5px

	.slick-dots button
		color: transparent
		outline: none
		width: 8px
		height: 8px
		display: block
		border-radius: 50%
		background: #ccc

	.slick-dots .slick-active button
		background: #333

	.car-div
		background-color: #333
		padding: 5px
		border-radius: 20px

		&:hover
			background-color: #eee
			border-radius: 20px

		.p-name
			background-color: #333
			text-align: center
			color: #eee
			border-radius: 20px

		&:hover
			background-color: #eee
			color: #333
			border-radius: 20px

	.select
		background-color: #eee
		padding: 5px
		border-radius: 20px

	h2,p
		text-align: center
		padding: 20px

	ul
		margin: 0
		padding: 0
		list-style: none

	a
		color: #333
		&:hover,
		&:active
			text-decoration: none