---
---

@import index

.category_container
    padding: 9px
    background-color: #383838

.category_title
    text-align: center
    background-color: $frdark
    
.category_button
    background-color: transparent
    color: white
    padding: 1px
    border: 0

.category_button:hover
    background-color: rgba(255, 255, 255, 0.25)

.category_ul 
    padding: 0

.category_ul_owner 
    padding: 0
    margin: 10px

