---
---

@import index

.category_container
  padding: 9px
  margin: 10px
  background-color: #383838
  height: fit-content

.category_container_no_color
  padding: 9px
  margin: 10px
  height: fit-content

.category_title
  text-align: center
  background-color: $frdark
  margin: 0
  
.category_button
  background-color: transparent
  color: white
  padding: 1px
  border: 0

.category_button:hover
  background-color: $hoverlight

.category_ul 
  padding: 0

.category_ul_owner 
  list-style-type: none
  padding: 0
  margin: 10px

.category_ul_owner > collapse
  margin-top: 0
  margin-bottom: 0

.category_ul_owner >collapse_content
  background-color: transparent
