---
---

@import index, font, basic, layout, classes

html
  background: $frdark
  padding: 0 10%

body
  background-color: $bgdark
  // box-shadow: 0 0 .3em lighten($frdark, 65%)
  box-shadow: 0 0 0 1px lighten($frdark, 8%)

body > header, body > footer
  background: $frdark
  color: $light
  box-shadow: 0 0 0 1px lighten($frdark, 8%)

@media (min-width: 32em)
  body > header, body > article, body > footer
    padding: 1.75em calc(15% - 5em)

.flex
  display: flex

.logo
  width: 32px
  height: 32px
  margin: 5px
  padding: 0