---
---

@import index, font, basic, layout, classes

html
  background: $frdark
  padding: 0 5%

body
  background-color: $bgdark
  // box-shadow: 0 0 .3em lighten($frdark, 65%)
  box-shadow: 0 0 0 1px lighten($frdark, 8%)

body > header, body > footer
  background: $frdark
  color: $light
  box-shadow: 0 0 0 1px lighten($frdark, 8%)

@media (min-width: 32em)
  body > header, body > article, body > footer
    padding-left: 5%
    padding-top: 2.5%
    padding-bottom: 2.5%
    padding-right: 5%

.flex
  display: flex

.logo
  width: 32px
  height: 32px
  margin: 5px
  padding: 0

.bg
  width: 100%
  align-items: center
  text-align: center
  margin: 10px
  background-color: #383838
  padding: 5px