---
---

@import index

.g-nav-ul
  display: flex

.g-nav-li
  list-style: none

.g-nav-a 
  display: block
  text-decoration: none
  color: white
  margin-right: 20px
  &:hover
    color: rgb(252, 245, 228)

.g-nav
  padding-top: 5px
  box-sizing: border-box  
  position: fixed
  top: 0
  right: 0
  background-color: rgb(0, 0, 0)
  vertical-align: baseline
