---
---

@import index

#navigation
  .nav
    box-sizing: border-box
    position: fixed
    vertical-align: baseline

  .nav ul
    display: flex

  .nav li
    list-style: none

  .nav a 
    display: block
    text-decoration: none
    color: white
    margin-right: 20px
    &:hover
      color: rgb(252, 245, 228)