---
layout: Hoshimori/default-Hoshimori
background: Home
---

<div>
  <section class="Hoshimori_bg_sec">
    <div class="Hoshimori_character_div_h">
      <img class="Hoshimori_character_div_img" src="{{ site.hoshimori-character[page.background] | relative_url }}.png" alt="" />
      <div class="Hoshimori_character_div_v">
        <h2 class="Hoshimori_character_name">{{ page.background }}</h2>
        <p>────────────────────────</p>
        <div class="Hoshimori_character_description_div">
          <p class="Hoshimori_character_description">
            {{ content }}
          </p>
        </div>
      </div>
    </div>
    {% include carousel.html links=site.hoshimori-character current=page.background %}
  </section>
</div>
