---
layout: Hoshimori/default-Hoshimori
background: Home
---

<div>
  <section class="Hoshimori_bg_sec">
    <div class="Hoshimori_character_div_h">
      <div class="Hoshimori_character_div_img">
        <img src="{{ site.hoshimori-character[page.background] | relative_url }}.png" alt="" />
      </div>
      <div class="Hoshimori_character_div_v">
        <h2>{{ page.background }}</h2>
        {{ content }}
      </div>
    </div>
  </section>
  {% include carousel.html links=site.hoshimori-character current=page.background %}
</div>
