---
layout: Hoshimori/default-Hoshimori
background: Home
home: '/Hoshimori/index.html'
---

<div>
  <section class="Hoshimori_bg_sec">
    <div class="Hoshimori_character_card_container">
      <img class="Hoshimori_character_card_img" src="{{ site.hoshimori-character[page.background] | relative_url }}.png" alt="" />
      <div class="Hoshimori_character_card_detail_container">
        <h2 class="Hoshimori_character_card_name">{{ page.background }}</h2>
        <p class="Hoshimori_character_card_description_text">────────────────────────</p>
        <div class="Hoshimori_character_card_description_text_container">
          <p class="Hoshimori_character_card_description_text">
            {{ content }}
          </p>
        </div>
      </div>
    </div>
    {% include carousel.html links=site.hoshimori-character current=page.background %}
  </section>
</div>
