---
layout: Portfolio/default
title: "ポートフォリオ"
home: '/Portfolio/index.html'
---

<head>
  <style>
    .bg {
      height: 600px;
      width: 100%;
      align-items: center;
      text-align: center;
    }
    .Portfolio_grid_3x {
      align-self: center;
      margin: 5px;
      padding: 0px;
    }
  </style>
</head>
<div class="bg">
  {% for data in site.idx-Portfolio %}
    <h2 class="Portfolio_subject">
      {{ data.subject }}
    </h2>
    <div class="Portfolio_grid_3x">
      {% for row in data.contents %}
        <a href="{{ row.url | relative_url }}">
          <div>
            <img src="{{ row.img | relative_url }}" alt="" />
            <p>row.title</p>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>