---
layout: Portfolio/UnrealEngine/Game/Hoshimori/page
title: "ポートフォリオ | 星の守り人 | UI"
subject: "タイトルUI"
home: '/Portfolio/UnrealEngine/Game/Hoshimori/index.html'
# images: # list
# - subject: subject-title
#   contents:
#     - title: title
#       url: "url"(relative)
#       img-type: [default:"none", "movie", "gd-movie", "image", "gd-image"] #if none only description.
#       description:
#         - text: ""
#           type: [default:"li", "p", "h3", "h4", "h5"]
#         or
#         [
#           "hogehoge",
#           "hugahuga"
#         ]
# - subject: subject-title
#   contents:
#     - title: title
#         ~~~
#         ~~~
---

<head>
  <style>
    .Portfolio_detail_container {
      margin: 25px;
      padding: 0px;
    }
    .Portfolio_logo {
      align-self: flex-end;
    }
    .Portfolio_Hoshimori_img_cards_container {
      display: block;
    }
    .Portfolio_Hoshimori_img_card_container {
      height: auto;
      margin: 5px 0px;
    }
  </style>
</head>
<div class="Portfolio_Hoshimori_main">
  {% for data in page.images %}
    <div class="Portfolio_Hoshimori_subject_container">
      <h2>
        {{ data.subject }}
      </h2>
    </div>
    <div class="Portfolio_Hoshimori_img_cards_container">
      {% for row in data.contents %}
        <div class="Portfolio_Hoshimori_img_card_container">
          {% if row.img-type == "image" or row.img-type == "gd-image" %}
            <a href="{{ row.url | relative_url }}" target="_blank" rel="noopener noreferrer">
              <div class="Portfolio_Hoshimori_img_card">
                {% if row.img-type == "image" %}
                  <img class="Portfolio_Hoshimori_img" src="{{ row.url | relative_url }}" alt="" />
                {% elsif row.img-type == "gd-image" %}
                  <iframe class="Portfolio_Hoshimori_img" allowfullscreen src="{{ row.url }}/preview">
                    {{ row.title }}
                  </iframe>
                {% endif %}
                <p class="Portfolio_Hoshimori_img_card_name">
                  {{ row.title }}
                </p>
              </div>
            </a>
          {% elsif row.img-type == "movie" or row.img-type == "gd-movie" %}
            <div class="Portfolio_Hoshimori_img_card">
              {% if row.img-type == "movie" %}
                <iframe class="Portfolio_Hoshimori_img" src="{{ row.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                  {{ row.title }}
                </iframe>
              {% elsif row.img-type == "gd-movie" %}
                <iframe class="Portfolio_Hoshimori_img" src="{{ row.url }}/preview" allowfullscreen>
                  {{ row.title }}
                </iframe>
              {% endif %}
              {% if row.title %}
                <p class="Portfolio_Hoshimori_img_card_name">
                  {{ row.title }}
                </p>
              {% endif %}
            </div>
          {% endif %}
          <div class="Portfolio_Hoshimori_img_card_description_container">
            {% for description in row.description %}
              {% if description.text %}
                {% if description.type %}
                  {% if description.type == a %}
                    <a href="{{ description.text }}">
                      {{ description.title }}
                    </a>
                  {% else %}
                    <{{ description.type }}>
                      {{ description.text }}
                    </{{ description.type }}>
                  {% endif %}
                {% else %}
                  <li>
                    {{ description.text }}
                  </li>
                {% endif %}
              {% else %}
                <li>
                  {{ description }}
                </li>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  {{ content }}
</div>
<!-- 
<img src="https://drive.google.com/uc?export=view&id={{ row.url }} alt="" />

<iframe src="https://drive.google.com/file/d/{{ row.url }}/preview">
-->