---
---

@import index

.wiki_body
  margin: 5px

.wiki_subject_title
  margin: 5px
  background-color: $frdark

.wiki_subject_title.h1
  text-align: center

.wiki_subject_title.h2
  padding-left: 10px

.wiki_contents
  margin-left: 5px
  margin-right: 5px

.wiki_flex
  display: flex
  margin: 0px
  padding: 0px

.wiki_page_body
  display: grid
  grid-template-columns: 1fr .4fr
  margin: 5px
  padding: 0px