---
---

@import index

.wiki_body
  margin: 5px

.wiki_subject_title
  margin: 5px
  background-color: $frdark

.wiki_subject_title.h1
  text-align: center
  position: sticky
  top: 60px
  z-index: 9

.wiki_subject_title.h2
  padding-left: 10px

.wiki_subject_title.h3
  padding-left: 10px
  margin-left: 10px

.wiki_subject_title.h4
  padding-left: 15px
  margin-left: 15px

.wiki_contents
  margin-left: 5px
  margin-right: 5px

.wiki_flex
  display: flex
  margin: 0px
  padding: 0px

.wiki_page_body
  display: grid
  grid-template-columns: 1fr .4fr
  margin: 5px
  padding: 0px

.wiki_next_page_link_container
  text-align-last: center

.wiki_next_page_link
  text-align: center
  margin: 5px

.wiki_img
  width: 50%

.wiki_img.center
  position: relative
  left: 25%

.Portfolio_grid_3x
  img
    padding: 2.5px

.wiki_contents
  .img_card
    position: relative
    left: 28%