---
---

@import index

.Portfolio_fixed_bg
  position: relative
  height: 780px
  width: 100%
  background-color: rgba(172, 172, 172, 1)
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center center
  z-index: 2

.Portfolio_detail_container
  display: flex
  margin: 0
  padding: 10p

.Portfolio_subject
  margin: 5pd
  text-align: center

.Portfolio_grid_3x
  grid-template-columns: 1fr 1fr 1fr

.img_card_container
  margin: 5px
  background-color: $frdark

.img_card
  width: 225px
  height: 150px