---
layout: default
title: 
  - title: "ポートフォリオ"
  - title: "DirectX"
  - title: "とこぷよ"
new_title: true
screenshots:
  - title: "ミュージックリスト"
    url: "/Portfolio/Java/Windows/MusicPlayer/images/icon.png"
  - title: "プレイリスト"
    url: "/Portfolio/Java/Windows/MusicPlayer/images/playlist.png"
  - title: "メニュー"
    url: "/Portfolio/Java/Windows/MusicPlayer/images/menu.png"
   
---

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/pto8913.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/Portfolio/assets/css/portfolio.css' | relative_url }}">
  <script src="{{ '/assets/js/scroll_animation.js' | relative_url }}"></script>
  <style>
    .TokoPuyoBackground {
      margin-right: 15px;
      margin-left: 15px;
    }
    .TokoPuyoHead {
      text-align: center;
    }
    .TokoPuyoImg {
      width: 380px;
      height: 410px;
    }
    .TokoPuyoBody {
      display: flex;
    }
    .TokoPuyoDescription {
      margin-left: 15px;
      width: 100%;
    }
    .TokoPuyoPlayMovie {
      width: 375px;
      height: 250px;
    }
  </style>
</head>

<div class="TokoPuyoBackground">
  <h2 class="TokoPuyoHead">MusicPlayer For Windows</h2>
  <div class="TokoPuyoBody">
    <div>
      <iframe class="TokoPuyoImg" allowfullscreen src="/Portfolio/Java/Windows/MusicPlayer/images/icon.png">
      </iframe>
      <div class="TokoPuyoHead">
        <h3>制作日</h3>
        <p class="TokoPuyoHead">2023/12/24</p>
        <h3>制作期間</h3>
        <p class="TokoPuyoHead">1週間</p>
      </div>
    </div>
    <div class="TokoPuyoDescription">
      <h3>最終更新日</h3>
      <p>2023/12/24</p>
      <h3>概要</h3>
      <p>
        ミュージックプレイヤー<br>
      </p>
      <h3>ダウンロード</h3>
      <a href="https://github.com/pto8913/pto8913-TokoPuyo/releases">https://github.com/pto8913/pto8913-TokoPuyo/releases</a>
      <h3>スクリーンショット</h3>
      <div class="bg">
        <div class="Portfolio_grid_3x fade_box">
          {% for row in page.screenshots %}
            {% if row.url %}
              <div class="img_card_container">
                <a href="{{ row.url | relative_url }}">
                  <img src="{{ row.url | relative_url }}" class="img_card" alt="" />
                  <p class="img_card_title">{{ row.title }}</p>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>