---
---

// -------------------- hoshimori --------------------

.Hoshimori_fixed_bg
  position: relative
  height: 780px
  width: 100%
  background-color: rgba(172, 172, 172, 1)
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center center
  z-index: 2

// -------------------- hoshimori home --------------------

.Hoshimori_home_platform_div_h
  display: flex

.Hoshimori_home_platform_description
  background-color: rgba(0,0,0,0)
  background-position: center
  position: absolute
  right: 200px
  bottom: 50px
  padding: 20px
  text-align: center

.Hoshimori_home_text
  color: rgba(0,0,0,1)
  font-weight: bold

// -------------------- hoshimori story --------------------

.Hoshimori_story_title_container
  position: absolute
  top: 50px
  left: 50px
  padding: 20px
  width: 200px
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%)
  color: rgba(0,0,0,1)

.Hoshimori_story_text_container
  color: rgba(0,0,0,1)
  // background-color: rgba(255, 255, 255, 0)
  padding: 20px
  position: absolute
  // background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%)

// -------------------- hoshimori character --------------------

.Hoshimori_character_card_container
  max-width: 800px
  height: 400px
  display: flex
  vertical-align: middle
  align-items: center
  justify-content: center
  
.Hoshimori_character_card_img
  margin: 5px
  display: block
  width: 100%
  height: 100%
  vertical-align: bottom

.Hoshimori_character_card_detail_container
  background-color: rgba(0,0,0,0.5)
  margin: 5px
  padding: 20px
  width: 750px
  display: block
  mix-blend-mode: overlay

.Hoshimori_character_card_name 
  padding: 5px
  color: rgba(238,238,238,1)

.Hoshimori_character_card_description_text_container
  justify-content: center
  align-items: center
  width: 100%
  height: 30%
  display: block
  scroll-behavior: auto
  padding: 5px

.Hoshimori_character_card_description_text
  color: rgba(238,238,238,1)
  scroll-behavior: auto

// -------------------- hoshimori description --------------------

.Hoshimori_description_subject_container
  background-color: rgba(75, 75, 75, 1)

.Hoshimori_description_subject_text
  color: rgba(255, 255, 255, 1)

.Hoshimori_description_movie_container
  display: grid
  grid-template-columns: repeat(4 1fr)
  gap: 10px