---
---

.Portfolio_fixed_bg
  position: relative
  height: 780px
  width: 100%
  background-color: rgba(172, 172, 172, 1)
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center center
  z-index: 2

.Portfolio_detail_container
  display: flex
  margin: 0
  padding: 10px