---
layout: default
---

<article>
  {% include meta.html post=page %}
  <a href="https://pto8913.github.io/pto8913">トップページに戻る</a>

  <body>
    <h2>目次</h2>
    <script type="text/javascript" src="/pto8913/assets/js/create_table_of_contents.js"></script>
  </body>

  {{ content }}

  <a href="https://pto8913.github.io/pto8913">トップページに戻る</a>
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
